.root {

    li {
        display: inline-block;
     
        a{
            text-align: center;
            width: 45px;
            line-height: 42px;
            height: 45px;
            border: 1px solid #76974c;
            margin-right: 10px;
            cursor: pointer;
            display: inline-block;
            color: #74a864;
            
               
        &:hover {
            
            background-color: #759c2b;
            color: #000;
            box-sizing: border-box;
            
        }
        }   
    }
     :global {
        .selected {
            a{
            background-color: #759c2b;
            color: #000;
        }}
     }
}